<div class="signup">
  <form action="/signup" method="POST">
    Name:<br />
    <input type="text" name="user[name]"><br />
    Email:<br />
    <input type="text" name="user[email]"><br />
    Password:<br />
    <input type="password" name="user[password]"><br />
    Confirm Password:<br />
    <input type="password" name="user[password_confirmation"><br /><br />
    <input type="submit" value="Sign up">
  </form>
</div>