<% if current_user %>

<div class="edit-profile">
  <form action="/edit" method="POST" class="edit-form">
    <input type="hidden" name="_method" value="PUT">
    Name: <br />
    <input type="text" name="user[name]" value="<%= current_user.name %>"><br />
    Email: <br />
    <input type="text" name="user[email]" value="<%= current_user.email %>"><br />
    Password: <br />
    <input type="password" name="user[password]"><br />
    Confirm Password: <br />
    <input type="password" name="user[password_confirmation]"><br />
    <input type="submit" value="update">
  </form>
</div>

<% else %>
<% redirect "/" %>
<% end %>