<% if current_user %>
<%= erb :'/user/nav' %>
<div class="edit-profile">
  <form action="/edit" method="POST" class="edit-form">
    <input type="hidden" name="_method" value="PUT">
    Name: <br />
    <input type="text" name="user[name]" value="<%= current_user.name %>"><br />
    Email: <br />
    <input type="text" name="user[email]" value="<%= current_user.email %>"><br />
    <input type="submit" value="update">
  </form>
<p><a href="/edit_pw" class="button-link">Change Password</a></p>
</div>

<% end %>
