  <div class="navbar">
    <ul>
      <li><a href="/home" class="button-link">☁</a></li>
      <li><a href="/edit" class="button-link">Edit Profile</a></li>
      <li><a href="/quote/all" class="button-link">Browse All</a></li>
      <li><a href="/quote/category" class="button-link">Browse by Category</a></li>
      <li><a href="/submitted" class="button-link">Submits</a></li>
      <li><a href="/likes" class="button-link">Likes</a></li>
      <li><a href="/quote/new" class="button-link">Submit New</a></li>

    </ul>
  </div>