<div class="all-quotes">
  <% @quotes.each do |quote| %>
    <div class="quote-content">
      <%= quote.content %>
    </div>
    <div class="quote-author">
      <%= quote.author %>
    </div>
    <div class="quote-link">
      <a href="/quote/<%= quote.id %>">link</a>
    </div>
    <div class="like-link">
      <form action="/likes" method="POST" class="like-form">
        <input type="hidden" name="like[quote_id]" value="<%= quote.id %>">
        <input type="submit" value="Like ♥">
      </form>
    </div>
  <% end %>

</div>