<div class="welcome">
  <div class="hello">
    “QUOTE CL☁UD”
  </div>
  <div class="welcome-quote">
    <div class="welcome-quote-content">
      “<%= @quote.content %>”
    </div>
    <div class="welcome-quote-author">
      - <em><%= @quote.author %></em> <% if current_user %><a href="/quote/<%= @quote.id%>" class="link-button-link">link</a><% end %>
    </div>
  </div>
  <% if current_user %>
  <br /><br />
  Go to your <a href="/home" class="button-link">Dashboard</a>
  <% else %>
  <a href="/signup" class="sign-up-link">SIGN UP</a>
  <div class="sign-up-form">
    <%= erb :'/auth/signup' %>
  </div>
  <% end %>
</div>
