<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="content">
  <header>
    <div id="qc"><a href="/" class="button-link">QUOTE CL☁UD</a></div>
    <div id="login-toolbar">
      <% if current_user %>
        Hello <a href="/home"><%= current_user.name.capitalize %></a>! <a href="/logout" class="button-link">LOGOUT</a>
      <% else %>
        <a href="/login" class="button-link">LOGIN</a>
      <% end %>
  </header>
  <div id="spinner"><img src="/img/ajax-loader.gif"></div>
  <div class="container">
    <em><%= display_errors! %></em>
    <%= yield %>
  </div>
</div>
</body>
</html>
